<h1 align="center">Add Property</h1>
<form id="addProperty" align="center">
    
    <fieldset class="form-group">
     <input type="text" class="addPropertyForm" id="propertyName" placeholder="Name">
    </fieldset>
    
    <fieldset class="form-group">
        <input type="text" class="addPropertyForm" id="tax" placeholder="Tax">
    </fieldset>
    
    <fieldset class="form-group">
        <input type="text" class="addPropertyForm" id="inflation" placeholder="inflation">
    </fieldset>
    
    <fieldset class="form-group">
        <input type="text" class="addPropertyForm" id="annualMaintenanceCost" placeholder="annualMaintenanceCost">
    </fieldset>
    
    <fieldset class="form-group">
        <input type="text" class="addPropertyForm" id="annualCostIncrease" placeholder="annualCostIncrease">
    </fieldset>
    
    <fieldset class="form-group">
        <input type="text" class="addPropertyForm" id="interestRate" placeholder="Interest Rate">
    </fieldset>
    
    <fieldset class="form-group">
        <input type="text" class="addPropertyForm" id="deposit" placeholder="Deposit">
    </fieldset>
    
    <fieldset class="form-group">
        <input type="text" class="addPropertyForm" id="propertyValue" placeholder="Property Value">
    </fieldset>
    
    <fieldset class="form-group">
        <input type="text" class="addPropertyForm" id="numberOfYears" placeholder="Number Of Years">
    </fieldset>
    
    <fieldset class="form-group">
        <input type="text" class="addPropertyForm" id="occupancyRate" placeholder="Occupancy Rate">
    </fieldset>
    
    <fieldset class="form-group">
        <input type="text" class="addPropertyForm" id="agentCommission" placeholder="Agent Commission">
    </fieldset>
    
    <fieldset class="form-group">
        <input type="text" class="addPropertyForm" id="rentalAmount" placeholder="Rental Amount">
    </fieldset>
    
    <button type="submit" id="submit" class="btn btn-success">Create Account</button>
  
</form>