<!-- to show icon 
<li><a id="logoutIcon" href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
-->
<nav class="navbar navbar-default" id="homeBar">
	<div class="dropdown">
		
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
    	<span id="menuPic" class="glyphicon glyphicon-th-list"></span>
	</button>
		
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">     
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
      <li role="presentation" class="divider"></li>
	<li><a id="logoutIcon" href="mainPage">Logout</a></li>
    </ul>
		
  </div>
    <div class="navbar-header" id="userLoggedIn">Signed in as
      <a href="#" class="navbar-link" id="name">Jane Doe</a>
    </div>
</nav>

<div class="row" id="propertList">
  <div class="col-sm-6 col-md-5">
    <div class="thumbnail" >     
	<div class="caption" id="properties">
		<h2>Properties</h2>
	</div>
		<hr id="line">
	<div class="caption" id="noProperties">
        <h1>No Properties</h1>
      </div>
		<div id="addedProperties">
	<div class="caption" >
	  <div>      
		  <h4>R 1 995 000 </h4>
		  <p>3 Bedroom House</p>
      </div>
	  </div>
	<div class="caption" >
	  <div>
        <h4>R 1 250 000</h4>		
		<p>3 Bedroom Townhouse</p>
      </div>
		</div>
		<div class="caption">
		<div>
        <h4>R 330 000</h4>
		  <p>1.5 Bedroom Apartment</p>
      </div>
		</div>
		</div>
    </div>
	  <button type="submit" class="btn">add</button>
  </div>
	
</div>


<div class="row" id="recentActivities">
  <div class="col-sm-6 col-md-8">
    <div class="thumbnail">
      <div class="caption">
        <h2>No Recent Activities</h2>
      </div>
	  <div class="caption">
        
      </div>
	  <div class="caption">
        
      </div>
    </div>
  </div>
</div>


