<!-- to show icon 
<li><a id="logoutIcon" href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

<p id="nameLabel" class="navbar-text navbar-right">Signed in as <a id="name" href="#" class="navbar-link">Jane Doe</a></p>
-->
<nav class="navbar navbar-inverse" id="navBarHome">
  <div class="container-fluid" id="divBar">
    <div class="navbar-header">
      <p id="nameLabel" class="navbar-text navbar-right">Signed in as <a id="name" href="#" class="navbar-link">Jane Doe</a></p>
    </div>
    <ul class="nav navbar-nav listBar">
      <li><a id="listItem" href="#">Report</a></li>
      <li><a id="listItem" href="mainPage">Logout</a></li> 
    </ul>
  </div>
</nav>

<form action="addProperty">
<div class="row" id="propertList">
<div class="col-sm-6 col-md-5">
<div class="thumbnail" >     
	<div class="caption" id="properties">
		<h2>Properties</h2>
		<button id="btnAddProp" type="submit" class="btn">add Property</button>
	</div>
		<hr id="line">
	<div class="caption" id="noProperties">
        <h1>No Properties added</h1>
      </div>
<div id="addedProperties">
	<div class="caption" >
		<a id="propertyItem" href="propertyDetails">
			{{#each model as |homeObj|}}
		  <div>      			  
			  <h4>{{homeObj.name}}</h4>
			  <label>Price:</label>
			  <p>{{homeObj.price}}</p>
			  <label>ROI:</label>
			  <p>{{homeObj.ROI}}</p>
		  </div>
			{{/each}}
		</a>
	</div>
	<!--<div class="caption" >
		<a id="propertyItem" href="propertyDetails">
		  <div>
			  <h4>3 Bedroom Townhouse</h4>
			  <label>Price:</label>
		      <p>R 1 250 000</p>
			  <label>ROI:</label>
			  <p>20%</p>
		  </div>
		</a>
	</div>
	<div class="caption">
		<a id="propertyItem" href="propertyDetails">
			<div>
				<h4>1.5 Bedroom Apartment</h4>
				<label>Price:</label>
				<p>R 330 000</p>
				<label>ROI:</label>
				<p>5%</p>
			</div>
		</a>
	</div> -->
</div>
</div>
	  
</div>
	
</div>


<div class="row" id="recentActivities">
  <div class="col-sm-6 col-md-8">
    <div class="thumbnail">
		<div class="caption" id="properties">
		<h2>Activities</h2>
		</div>
		<hr id="line">
      <div class="caption" id="noActivities">
        <h2>No Recent Activities</h2>
      </div>
		
	  <div class="caption">
        
      </div>
	  <div class="caption">
        
      </div>
    </div>
  </div>
</div>
</form>

