<!-- to show icon 
<li><a id="logoutIcon" href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
-->
<nav class="navbar navbar-default" id="homeBar">
	<div class="dropdown">
		
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
    	<span id="menuPic" class="glyphicon glyphicon-th-list"></span>
	</button>
		
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">     
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
      <li role="presentation" class="divider"></li>
	<li><a id="logoutIcon" href="#">Logout</a></li>
    </ul>
		
  </div>
    <div class="navbar-header" id="userLoggedIn">Signed in as
      <a href="#" class="navbar-link" id="name">Jane Doe</a>
    </div>
</nav>

<div class="row" id="propertList">
  <div class="col-sm-6 col-md-5">
    <div class="thumbnail">
      <div class="caption">
        <!--<h3>No Properties</h3> -->
      </div>
	  <div class="caption">
        <h3>Property 1</h3>
		  <p>3 Bedroom House</p>
      </div>
	  <div class="caption">
        <h3>Property 2</h3>		
		<p>3 Bedroom Townhouse</p>
      </div>
		<div class="caption">
        <h3>Property 3</h3>
		  <p>1.5 Bedroom Apartment</p>
      </div>
    </div>
  </div>
</div>


<div class="row" id="recentActivities">
  <div class="col-sm-6 col-md-8">
    <div class="thumbnail">
      <div class="caption">
        <h3>No Recent Activities</h3>
      </div>
	  <div class="caption">
        
      </div>
	  <div class="caption">
        
      </div>
    </div>
  </div>
</div>


