<!-- Sign Up and Log In Buttons -->

<div class = "buttons">
	<!-- Indicates a successful or positive action -->
	<button type="button" class="btn">Sign Up</button>
	<button type="button" class="btn">Log In</button>
</div>
