<h1 align="center">Propery Details</h1>

<div class="row">
  <div class="col-xs-4 col-sm-2 col-md-2 "></div>
  
   <div class="col-xs-8 col-sm-6 col-md-6">
    
    <table cellspacing="25">
    <tr>
        <td class="" colspan="3">Property name</td>
       <td class="" colspan="3">City Properties</td>
    </tr>
   
    <tr>
        <td class="" colspan="3">Tax</td>
        <td class="" colspan="3">21%</td>
    </tr> 
        
    <tr>
        <td class="" colspan="3">Inflation</td>
       <td class="" colspan="3">5.50%</td>
    </tr>
        
    <tr>
        <td class="" colspan="3">Annual maintance cost</td>
       <td class="" colspan="">R6000.00</td>
    </tr>
        
    <tr>
        <td class="" colspan="3">Annual cost increase</td>
       <td class="" colspan="3">10%</td>
    </tr>
   </table>
    
   </div>
  <div class="col-xs-4 col-sm-2 col-md-2" ></div>
</div>