<center><div id ="propertyDeatailsHeafing" > <h1>Propery Details</h1></div></center>
<div class="row" id="maindiv">
   
  <div id ="PDborder" class="col-xs-4 col-sm-4 col-md-4 ">
    
 <table class="table table-hover">
     <tr><td><h3>Property</h3></td></tr>    
    <tr>
        <td>Property name</td>
        <td>City Properties</td>
    </tr>
    <tr>
        <td>Tax</td>
        <td>21%</td>
    </tr> 
    <tr>
        <td>Inflation</td>
        <td>5.50%</td>
    </tr>
    <tr>
        <td width="10%">Annual maintance cost</td>
        <td width="10%">R6000.00</td>
    </tr>
    <tr>
        <td>Annual cost increase</td>
        <td>10%</td>
    </tr>
   </table>
    
  </div>
  
   <div id ="PDborder" class="col-xs-4 col-sm-4 col-md-4">
    
    <table class="table table-hover">
         <tr><td><h3>Bond</h3></td></tr>    

    <tr>
        <td>Interest Rate</td>
        <td>10%</td>
    </tr>
    <tr>
        <td>Deposit as percentage</td>
        <td>21%</td>
    </tr> 
    <tr>
        <td>Propery value</td>
        <td>500000.00</td>
    </tr>
    <tr>
        <td width="10%">Annual maintance cost</td>
        <td width="10%">R6000.00</td>
    </tr>
    <tr>
        <td>Number of years</td>
        <td>30</td>
    </tr>
   </table>
    
   </div>
  <div id ="PDborder" class="col-xs-4 col-sm-4 col-md-4" >
    
    <table class="table table-hover">
     <tr><td><h3>Rental</h3></td></tr>    

    <tr>
        <td>Occupancy Rate</td>
        <td>10%</td>
    </tr>
    <tr>
        <td width="10%">Agent Commission</td>
        <td width="10%">R16000.00</td>
    </tr> 
    <tr>
        <td>Rental Amount</td>
        <td>5000.00</td>
    </tr>
 
  

   </table>
      
    </div>
    
       
</div>

 <a href="#" id="linkTOProperty"class="btn btn-default btn-lg disabled" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>