
<form id="registerForm" action="homePage">
	
<ul class="nav nav-tabs" role="tablist" id="mainList">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#Login" role="tab" id="tab">Log In</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#register" role="tab" id="tab">Sign Up</a>
  </li>
</ul>
	
<div class="tab-content" id="main_List">
	<!-- LogIn Section-->
  <div class="tab-pane active" id="Login" role="tabpanel">
	  <fieldset class="form-group">
    <input type="text" class="form-control" id="UserName" placeholder="Username or email">
  </fieldset>
	
	<fieldset class="form-group">
    <input type="text" class="form-control" id="Password" placeholder="Password">
  </fieldset>
	  <button type="submit" id="LoginButton" class="btn">Log In</button>
  </div>
	<!-- SignUp/Register Section-->
  <div class="tab-pane" id="register" role="tabpanel">
	  
<fieldset class="form-group">
    <input type="text" class="form-control" id="FirstName" placeholder="First Name">
  </fieldset>
	
	<fieldset class="form-group">
    <input type="text" class="form-control" id="LastName" placeholder="Last Name">
  </fieldset>
	  
<fieldset class="form-group">
    <input type="text" class="form-control" id="UserName" placeholder="Username">
  </fieldset>
	  
<fieldset class="form-group">
    <input type="email" class="form-control" id="Email" placeholder="Email">
  </fieldset>
	
<fieldset class="form-group">
    <input type="password" class="form-control" id="Password" placeholder="Password">
  </fieldset>
	
 <fieldset class="form-group">
    <input type="password" class="form-control" id="confrimPassword" placeholder="Confirm Password">
  </fieldset>

  <button type="submit" id="submit" class="btn">
	  <a id="linking" href="registerLogin">Create Account</a></button>
  </div>
	
</div>
	
</form>