Documentation/Tenders/autoPerform/*.aux
Documentation/Tenders/autoPerform/*.idx
Documentation/Tenders/autoPerform/*.log
Documentation/Tenders/autoPerform/*.out
Documentation/Tenders/autoPerform/*.synctex.gz

Documentation/Tenders/PropertyInvestorOptimiser/*.aux
Documentation/Tenders/PropertyInvestorOptimiser/*.idx
Documentation/Tenders/PropertyInvestorOptimiser/*.log
Documentation/Tenders/PropertyInvestorOptimiser/*.out
Documentation/Tenders/PropertyInvestorOptimiser/*.synctex.gz

Documentation/Tenders/vizARD/*.aux
Documentation/Tenders/vizARD/*.idx
Documentation/Tenders/vizARD/*.log
Documentation/Tenders/vizARD/*.out
Documentation/Tenders/vizARD/*.synctex.gz