Documentation/Tenders/autoPerform/*.aux
Documentation/Tenders/autoPerform/*.idx
Documentation/Tenders/autoPerform/*.log
Documentation/Tenders/autoPerform/*.out
Documentation/Tenders/autoPerform/*.synctex.gz

Documentation/Tenders/PropertyInvestorOptimiser/*.aux
Documentation/Tenders/PropertyInvestorOptimiser/*.idx
Documentation/Tenders/PropertyInvestorOptimiser/*.log
Documentation/Tenders/PropertyInvestorOptimiser/*.out
Documentation/Tenders/PropertyInvestorOptimiser/*.synctex.gz

Documentation/Tenders/vizARD/*.aux
Documentation/Tenders/vizARD/*.idx
Documentation/Tenders/vizARD/*.log
Documentation/Tenders/vizARD/*.out
Documentation/Tenders/vizARD/*.synctex.gz

Documentation/Vision, Scope, Architectural Req & Initial Architecture DesignFunctional Requirements/*.aux
Documentation/Vision, Scope, Architectural Req & Initial Architecture DesignFunctional Requirements/*.idx
Documentation/Vision, Scope, Architectural Req & Initial Architecture DesignFunctional Requirements/*.log
Documentation/Vision, Scope, Architectural Req & Initial Architecture DesignFunctional Requirements/*.out
Documentation/Vision, Scope, Architectural Req & Initial Architecture DesignFunctional Requirements/*.synctex.gz
Documentation/Vision, Scope, Architectural Req & Initial Architecture DesignFunctional Requirements/*.toc

Documentation/mainPDF/*.aux
Documentation/mainPDF/*.idx
Documentation/mainPDF/*.log
Documentation/mainPDF/*.out
Documentation/mainPDF/*.synctex.gz
Documentation/mainPDF/*.toc
/Implementation/PIO/BackEndPIO/target/

Documentation/UserManual/*.aux
Documentation/UserManual/*.idx
Documentation/UserManual/*.log
Documentation/UserManual/*.out
Documentation/UserManual/*.synctex.gz
Documentation/UserManual/*.synctex.gz(busy)
Documentation/UserManual/*.toc
/Implementation/PIO/BackEnd/nbproject/private/
/Implementation/PIO/BackEnd/build/