/* Property Details-->*/
#sides{
margin:0;
   
}
#left{
float:left;
width:47%;
overflow:hidden;
color: teal;
margin-left: 39.5%; 
font-family: Gadugi;
margin-top: 2%;      

}
#right{
float:left;
margin-left: 1%;
margin-top: 4%;
width:10%;
overflow:hidden;
}


#maindiv
{
    position: absolute;
    margin-top: 14%;
    margin-left: 6%;
}

#PDborder
{
   border:5px solid teal;
    margin-right: 10px;
    width: 30%;
    height: 190px;
}

#propertyDeatailsHeafing
{
  position: absolute;
  margin-top: 7%;
  color: teal;
  margin-left: 40%;
  font-family: Gadugi; 
     
}

#linkTOProperty
{
 
  color: white;
  background-color: teal;
 
}

#linkTOProperty:hover
{
 color: white;   
}

#chartContainer
{
  margin-top: 2%;
  color: white;
  margin-left: auto;
  margin-right: auto;
 
    

}

#viewGraphPD{
  margin-top: 30%;  
  color: white;
   margin-left: 15%;
   background-color: teal;
 
}
#viewGraphPD:hover{
     color: teal;
     background-color: white;
}
/* Property Details-->*/