/* Property Details-->*/
#sides{
margin:0;
   
}
#left{
float:left;
width:47%;
overflow:hidden;
color: teal;
margin-left: 39.5%; 
font-family: Gadugi;
      

}
#right{
float:left;
margin-left: 1%;
margin-top: 2%;
width:10%;
overflow:hidden;
}


#maindiv
{
    position: absolute;
    margin-top: 14%;
    margin-left: 6%;
    font-family: Calibri Light;
	font-size: 23px;
}

#PDborder
{
   border:5px solid teal;
    margin-right: 10px;
    width: 30%;
    height: 190px;
}

#propertyDeatailsHeafing
{
  position: absolute;
  margin-top: 7%;
  color: teal;
  margin-left: 40%;
  font-family: Gadugi; 
     
}

#linkTOProperty
{
 
  color: white;
  background-color: teal;
 
}

#linkTOProperty:hover
{
  color: #008080;
  border-color: #008080;
  background-color: #ffffff;  
}

#chartContainer
{
  position: absolute;
  margin-top: 30%;
  color: white;
  margin-left: 25%;
 
 
    

}

#viewGraphPD{
  margin-top: 30%;  
  color: white;
   margin-left: 15%;
   background-color: teal;
 
}

#viewGraphdiv{
  margin-top: 30%;  
 /* color: white;*/
   margin-left: 15%;
   background-color: teal;
 
}
#viewGraphPD:hover{
     color: teal;
     background-color: white;
}
/* Property Details-->*/

/* Button Styles */
.btn
{
	color: #ffffff;
	border-color: #008080;
	background-color: #008080;
	
}

.btn:hover,
.btn:focus,
.btn.focus {
  /*color: #ffffff;
  text-decoration: none;*/

  color: #008080;
  border-color: #008080;
  background-color: #ffffff;
}