

html, body
{
    background: rgba(192, 192, 192, 0.25);
}

/* home page */
#navBarHome{
    position: absolute;
    margin-top: 0;
    width: 100vw;
    height: 110px;
    box-shadow: 0px 2.5px 2.5px gray;
	border-radius: 0px;
}
img{position: absolute; display: inline-block;}

#divBar{
    display: inline-block;
    font-family: Calibri Light;
    font-size: 23px;
    height: 100%;
    right: 0px;
    width: 350px;
    position: absolute; 	
}
#user
{
    display: block;
    position: absolute;
    font-size: 18px;
    top: 25%;
    width: 350px;
    left: calc(50vw - 175px);
}
#access { position: absolute; top: 25%; }
    #access > li
    {
        float: right;
        margin-right: 15px;
        background: teal;
        color: white;
        width: 125px;
        text-align: center;
        font-size: 18px;

        transition: 0.2s all;
    }
        #access > li:hover
        {
            background: white;
            color: teal;
        }
        #access > li * { color: inherit; }

#form
{
    background: white;
    display: block;
    position: absolute;
    top: 150px;
    height: calc(100vh - 200px);
    width: 95vw;
    left: 2.5vw;
    font-size: 20px;
    box-shadow: 0px 0px 2.5px black;
}
#propertList{
    padding: 25px;
}

table > tbody > tr:nth-child(odd) {background: silver; }
table > tbody > tr:nth-child(even) {background: gray; }
table > tbody > tr
{
    transition: 0.2s all;
}
#aLink{
    text-decoration: none;
    color: teal;
}
.btn
{
    color: #ffffff;
    border-color: #008080;
    background-color: #008080;
	
}
.btn:hover,
.btn:focus,
.btn.focus {

  color: #008080;
  border-color: #008080;
  background-color: #ffffff;
}

/*
#listItem{
    color:aliceblue;
}
#nameLabel{
    color:aliceblue;
}
#name{
    color: #2B2D42;
    font-family: Gadugi;
}
.listBar{
    margin-left: 25%;	
}

#propertyItem{
    text-decoration: none;
    color: teal;
}
#noProperties{
    margin-top: 10%;
    color: #C0392B;
    visibility: hidden;
    font-family:Calibri Light;
}
.tableOfProperties{
    margin-top: -11%;
    color: teal;
    font-family: Calibri Light;
    font-size: 25px;
}
#propertyHeader{
    margin-top: -2%;
    margin-left: 40%;
    color: teal;
	
}
#propertyHead{
    font-family:sans-serif;
}
#line{
    border:1px solid teal;
    margin-top: -0.5%;
}
#btnAddProp{
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
}
/* Button Styles *
.btn
{
    color: #ffffff;
    border-color: #008080;
    background-color: #008080;
	
}
#aLink{
    text-decoration: none;
    color: teal;
}


.btn:hover,
.btn:focus,
.btn.focus {

  color: #008080;
  border-color: #008080;
  background-color: #ffffff;
}*/