#addProperty
{
    border-color: gray;
    position: absolute;
    margin-top: 7%;
    margin-left: 40%;
    width: 50%;
}
#propertyHeader
{
	font-family:Gadugi;
    color: teal;
    margin-right: 65%; 
}

#addProperty
{
	font-family:Gadugi;
    color: teal;
    text-align: center;
}
#propertyName
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#tax
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#inflation
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#annualMaintenanceCost
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#annualCostIncrease
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#interestRate
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#deposit
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#propertyValue
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#numberOfYears
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#occupancyRate
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#agentCommission
{
    width:35%;
    font-size: 20px;
	font-family:Calibri Light;
}

#rentalAmount
{
    width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#submit
{
    margin-right: 70%;
}