#tab{
	color: teal;
}
#main_List{
	margin-left: 30%;
}
#registerForm{
	padding-top: 10%;
	margin-left: 8%;
}
#Logo{
	margin-top: -1%;
}

/* Register Section  */
#FirstName{
	width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#LastName{
	width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#Password{
	width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#confrimPassword{
	width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#Email{
	width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#register{
	margin-top: 2.5%;
	margin-left: 5%;	
}

#submit{
	margin-left: 9.5%;
}


/* Login Section     */
#UserName{
	width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#Login{
	margin-top: 2.5%;
	margin-left: 5%;
}
#LoginButton{
	margin-left: 13%;
}
#mainList{
	width:30%;
	margin-left: 30%;
	font-family: monospace;
	font-size: 25px;	
}


/* home page */
#homeBar{
	position: absolute;
	margin-top: 7.8%;
	background-color: teal;
	
}

#userLoggedIn{
	font-family: monospace;
	color: white;
	font-size: 25px;
}
