/* Property Details-->*/
#maindiv
{
    position: absolute;
    margin-top: 14%;
    margin-left: 6%;
}

#PDborder
{
   border:5px solid teal;
    margin-right: 10px;
    width: 30%;
    height: 190px;
}

#propertyDeatailsHeafing
{
  position: absolute;
  margin-top: 7%;
  color: teal;
  margin-left: 40%;
  font-family: Gadugi; 
     
}

#linkTOProperty
{
 
  color: white;
  margin-right: 60%;
}

#linkTOProperty:hover
{
 color: teal;   
}

#chartContainer
{
  margin-top: 2%;
  color: white;
  margin-left: auto;
  margin-right: auto;


}

#viewGraphPD{
  margin-top: 30%;  
  color: white;
   margin-left: 15%;
 
}
#viewGraphPD:hover{
     color: teal;
}
/* Property Details-->*/