/* Button Styles */
    
#submit
{
	color: #ffffff;
	border-color: #008080;
	background-color: #008080;
	
}

#Logo
{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

#submit:hover,
#submit:focus,
#submit.focus {
  /*color: #ffffff;
  text-decoration: none;*/

  color: #008080;
  border-color: #008080;
  background-color: #ffffff;
}

#propertyHeader
{
    font-family:Gadugi;
    color: teal;
}

#miniHeading
{
}
#addProperty
{
    position: static;    
    margin: 0 auto;
    
    min-height: 800px;
    margin-top: 150px;
    height: auto;
    width: 350px;
    font-family:Gadugi;
    color: teal;
    text-align: center;
  margin-bottom: 25px;
}

.tile
{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    transition: all 0.5s;
}
    .tile * {transition: all 0.5s;}
    .tile > *
    {
        position: relative;
        height: 50px;
        width: 100%;
        line-height: 50px;
	font-family:Calibri Light;
    }
    .tile > h3
    {
        margin: 0;
        text-align: left;
        font-size: 18px;
        padding-left: 20px;
        font-family: Gadugi;
        color: white;
        align-content: center;
        background-color: teal;
        margin-bottom: 15px;
        cursor: pointer;
    }
        .tile > h3:after
        {
            display: block;
            position: absolute;
            right: 0px;
            height: 50px;
            top: 0px;
            width: 50px;
            color: white;
            line-height: 40px;
            text-align: center;
            font-size: 40px;
        }
    .tile > fieldset > input,
    .tile > fieldset > label
    {
        position: absolute;
        height: 75%;
        top: 12.5%;
        border: 0;
        border-radius: 0;
        box-shadow: 0;
        font-size: 18px;
    }
    .tile > fieldset > input{
        border: solid 1px white;
        border-bottom: solid 1px teal;
        width: 65%;
        right: 0px;
        padding-left: 10px;
    }
    .tile > fieldset > label{        
        width: 33%;
        left: 0px;
        font-size: 14px;
        text-align: left;
    }

.tile.open
{
    position: relative;
}
    .tile.open > *
    {
        opacity: 1;
        height: 50px;
    }
    .tile.open > h3:after { content: "-"; }

    .tile.closed *
    {
        opacity: 0;
        height: 0px;
    }
    .tile.closed > h3
    {
        opacity: 1;
        height: 50px;
    }
    .tile.closed > h3:after { content: "+"; }

