/* Button Styles */
#submit
{
	color: #ffffff;
	border-color: #008080;
	background-color: #008080;
	
}

#submit:hover,
#submit:focus,
#submit.focus {
  /*color: #ffffff;
  text-decoration: none;*/

  color: #008080;
  border-color: #008080;
  background-color: #ffffff;
}

#propertyHeader
{
    font-family:Gadugi;
    color: teal;
    margin-right: 65%; 
}

#miniHeading
{
}
#addProperty
{
    position: static;    
    margin: 0 auto;
    
    width: 350px;
    font-family:Gadugi;
    color: teal;
    text-align: center;
}

.tile
{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}
    .tile > *
    {
        position: relative;
        height: 50px;
        width: 100%;
        line-height: 50px;
    }
    .tile > h3
    {
        margin: 0;
        text-align: left;
        font-size: 18px;
        padding-left: 20px;
        font-family: Gadugi;
        color: white;
        align-content: center;
        background-color: teal;
        margin-bottom: 15px;
    }
        .tile > h3:after
        {
            display: block;
            position: absolute;
            right: 0px;
            height: 50px;
            top: 0px;
            width: 50px;
            color: white;
            line-height: 40px;
            text-align: center;
            font-size: 40px;
        }
    .tile > fieldset > input
    {
        position: absolute;
        height: 75%;
        top: 12.5%;
        width: 100%;
        left: 0px;
        padding-left: 10px;
        border: 0;
        border-radius: 0;
        box-shadow: 0;
        border: solid 1px white;
        border-bottom: solid 1px teal;
    }

.tile.open
{
    position: relative;
}
    .tile.open > *
    {
        display: block;
        height: 50px;
    }
    .tile.open > h3:after { content: "-"; }

.tile.closed
{
    position: relative;
}
    .tile.closed *
    {
        display: none;
        height: 0px;
    }
    .tile.closed > h3
    {
        display: block;
        height: 50px;
    }
    .tile.closed > h3:after { content: "+"; }

/*
#miniHeadingDiv
{
    position: relative;
   
    width: 80%;
    text-align: center;
}


#propertyName
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#marketPriceAdjustment
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#capitalGains
{
    width:35%;
    font-size: 20px;
    font-family:Calibri Light;
}
#annualMaintenanceCost
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#annualCostIncrease
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#interestRate
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#deposit
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#propertyValue
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#numberOfYears
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#occupancyRate
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#agentCommission
{
    width:35%;
    font-size: 20px;
	font-family:Calibri Light;
}

#rentalAmount
{
    width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#submit
{
    margin-left:-65%;
    margin-top: 1%;
}

#property
{
    background-color: white;
}

#rentInsurance
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#deviance
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#renovation
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#maintenance
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#conveyancingFees
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#vatDebit
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#deedsFee
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#initiationFee
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#tax
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#rates
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#levy
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#managementFee
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#inflation
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#propertyValueIncrease
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#rentIncrease
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#ratesIncrease
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#taxIncrease
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#bondFeeIncrease
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#levyIncrease
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#Period{
    width:35%;
    font-size: 20px;
   font-family:Calibri Light;

}
#additionalCash{
     width:35%;
    font-size: 20px;
   font-family:Calibri Light;

}

#bondRepaymnet
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
*/