<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" ng-app="myApp">
    <head>
        <title>Add Property</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="addProperty.css">
      
    </head>
    <body>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-resource/angular-resource.js" type="text/javascript"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>
        <script src="addProperty.js"></script>
        
        <div class="navbar-header" id="Logo">
                  <img alt="Brand" ng-src="../images/Logo.png">
            
          </div>
        
        <form ng-submit="submitFunction()" ng-controller="AddPropertyCtrl" id="addProperty" style="align:center">
            <h1 id="propertyHeader">Add Property</h1>

            <div id="property">
                <div id="miniHeadingDiv">
                    <h3 id="miniHeading">Property Details</h3>
                </div>
                <fieldset class="form-group">
                 <input type="text" class="form-control" id="propertyName" placeholder="Name"  ng-model="propertyName">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="marketPriceAdjustment" placeholder="Market Price Adjustment" ng-model="marketPriceAdjustment">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="capitalGains" placeholder="Capital Gains" ng-model ="capitalGains">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="annualMaintenanceCost" placeholder="Annual Maintenance Cost" ng-model="annualMaintenanceCost">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="annualCostIncrease" placeholder="Annual Cost Increase" ng-model ="annualCostIncrease">
                </fieldset>
            </div>

            <div id="Bond">
                <div id="miniHeadingDiv">
                    <h3 id="miniHeading">Bond Details</h3>
                </div>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="interestRate" placeholder="Interest Rate" ng-model="interestRate">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="deposit" placeholder="Deposit" ng-model="deposit">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="propertyValue" placeholder="Property Value" ng-model="propertyValue">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="numberOfYears" placeholder="Number Of Years" ng-model ="numberOfYears">
                </fieldset>
                
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="bondRepaymnet" placeholder="Bond Repayment" ng-model ="bondRepaymnet">
                </fieldset>
            </div>
            
             <div id="addBondRepayment">
                <div id="miniHeadingDiv">
                    <h3 id="miniHeading">Additional Bond Repayment</h3>
                </div>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="Period" placeholder="Period" ng-model="Period">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="additionalCash" placeholder="Additional Cash" ng-model="additionalCash">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="onceOffPayment" placeholder="Once-Off Payment" style="width:35%" ng-model="onceOffPayment">
                </fieldset>
            </div>
            
            <div id="Reserves">
                <div id="miniHeadingDiv">
                    <h3 id="miniHeading">Reserves</h3>
                </div>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="maintenance" placeholder="Maintenance" ng-model="maintenance">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="renovation" placeholder="Renovation" ng-model ="renovation">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="deviance" placeholder="Deviance" ng-model="deviance">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="rentInsurance" placeholder="Rent Insurance" ng-model="rentInsurance">
                </fieldset>
            </div>

            <div id="upFrontCosts">
                <div id="miniHeadingDiv">
                    <h3 id="miniHeading">Up-Front Costs</h3>
                </div>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="conveyancingFees" placeholder="Conveyancing Fees" ng-model="conveyancingFees">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="vatDebit" placeholder="VAT Debit" ng-model="vatDebit">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="deedsFee" placeholder="Deeds Fee" ng-model="deedsFee">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="initiationFee" placeholder="Initiation Fee" ng-model ="initiationFee">
                </fieldset>
            </div>
            
            <div id="Expenses">
                <div id="miniHeadingDiv">
                    <h3 id="miniHeading">Expenses</h3>
                </div>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="tax" placeholder="Tax" ng-model ="tax">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="rates" placeholder="Rates" ng-model="rates">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="levy" placeholder="Levy" ng-model="levy">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="managementFee" placeholder="Management Fee" ng-model="managementFee">
                </fieldset>
            </div>
            
            <div id="Increases">
                <div id="miniHeadingDiv">
                    <h3 id="miniHeading">Increases</h3>
                </div>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="inflation" placeholder="Inflation" ng-model ="inflation">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="propertyValueIncrease" placeholder="Property Value" ng-model="propertyValueIncrease">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="rentIncrease" placeholder="Rent" ng-model ="rentIncrease">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="ratesIncrease" placeholder="Rates" ng-model="ratesIncrease">
                </fieldset>
                
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="taxIncrease" placeholder="Tax" ng-model="taxIncrease">
                </fieldset>
                
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="bondFeeIncrease" placeholder="Bond Fee" ng-model ="bondFeeIncrease">
                </fieldset>
                
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="levyIncrease" placeholder="Levy" ng-model="levyIncrease">
                </fieldset>
            </div>
            
            <div id="Rental">
                <div id="miniHeadingDiv">
                    <h3 id="miniHeading">Rental Information</h3>
                </div>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="occupancyRate" placeholder="Occupancy Rate" ng-model="occupancyRate">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="agentCommission" placeholder="Agent Commission" ng-model="agentCommission">
                </fieldset>

                <fieldset class="form-group">
                    <input type="text" class="form-control" id="rentalAmount" placeholder="Rental Amount" style="width:35%" ng-model="rentalAmount">
                </fieldset>


            </div>
                  <button  type="submit" id="submit" class="btn">Create Property</button>
        </form>
    </body>
</html>
