/* Button Styles */
.btn
{
	color: #ffffff;
	border-color: #008080;
	background-color: #008080;
	
}

.btn:hover,
.btn:focus,
.btn.focus {
  /*color: #ffffff;
  text-decoration: none;*/

  color: #008080;
  border-color: #008080;
  background-color: #ffffff;
}


#addProperty
{
    position: absolute;
    margin-top: 7%;
    margin-left: 40%;
    width: 50%;
    font-family:Gadugi;
    color: teal;
    text-align: center;
}
#propertyHeader
{
    font-family:Gadugi;
    color: teal;
    margin-right: 65%; 
}
#miniHeading
{
   	font-family:Gadugi;
    color: white;
    margin-right: 63%;
    align-content: center;
    border: 2px solid teal;
    width: 44%;
    background-color: teal;
    height: 30%;
}
#miniHeadingDiv
{
    position: relative;
   
    width: 80%;
    text-align: center;
}


#propertyName
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#marketPriceAdjustment
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#capitalGains
{
    width:35%;
    font-size: 20px;
    font-family:Calibri Light;
}
#annualMaintenanceCost
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#annualCostIncrease
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#interestRate
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#deposit
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#propertyValue
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#numberOfYears
{
      width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}
#occupancyRate
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#agentCommission
{
    width:35%;
    font-size: 20px;
	font-family:Calibri Light;
}

#rentalAmount
{
    width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#submit
{
    margin-left:-65%;
    margin-top: 1%;
}

#property
{
    background-color: white;
}

#rentInsurance
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#deviance
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#renovation
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#maintenance
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#conveyancingFees
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#vatDebit
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#deedsFee
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#initiationFee
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#tax
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#rates
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#levy
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#managementFee
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#inflation
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#propertyValueIncrease
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#rentIncrease
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#ratesIncrease
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#taxIncrease
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#bondFeeIncrease
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#levyIncrease
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}

#bondRepaymnet
{
       width:35%;
	font-size: 20px;
	font-family:Calibri Light;
}